<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}VPS Trading Pro{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('market.market') }}"
          >🚀 VPS PRO</a
        >

        <div class="d-flex align-items-center gap-3">
          {% if current_user.is_authenticated %}
          <span class="text-secondary small">Tài sản:</span>
          <span class="fw-bold c-up" style="font-family: 'JetBrains Mono'"
            >{{ "{:,.0f}".format(current_user.balance) }} ₫</span
          >
          <span class="text-secondary small">|</span>
          <a
            href="{{ url_for('trade.portfolio') }}"
            class="text-decoration-none text-light small"
            >Danh mục</a
          >
          <li class="nav-item text-white">
            <a
              class="nav-link fw-bold text-success"
              href="{{ url_for('trade.deposit') }}"
            >
              <i class="bi bi-wallet2"></i> Nạp tiền
            </a>
          </li>
          <li class="nav-item text-white">
            <a
              class="nav-link fw-bold text-success"
              href="{{ url_for('trade.history') }}"
              >Lịch sử GD</a
            >
          </li>
          <a
            href="{{ url_for('auth.logout') }}"
            class="text-decoration-none c-down small"
            >Thoát</a
          >
          {% else %}
          <a
            href="{{ url_for('auth.login') }}"
            class="btn btn-sm btn-outline-warning"
            >Đăng nhập</a
          >
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container-fluid p-0">{% block content %}{% endblock %}</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
